page-login {
  p{
    font-size: 1.9rem;
    color: white;
  }
      font-size: 1.9rem;
  ion-content{
    background: url('../assets/imgs/carlab_loginBG.jpg');
    background-size: cover;
    ion-label.label.label-md{
      color:white;
      font-size: 1.9rem;
    }
    ion-label.label.label-ios{
      color:white;
      font-size: 1.9em;
    }
    ion-input{
      color:white;
      font-size: 1.9rem;
    }
    .item-label-floating{
      background-color: transparent;
    }
    img{
        width: 160px;
      }
      ion-item{
      background-color: transparent;
      }

    }
}
