page-order-modal {
  #order_map{
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  ion-row{
    width: 100%;
  }
  ion-item{
    padding-left: 0px;
  }
  ion-list{
    width: 100%;
    margin: 0;
  }
}
